<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <!--/* 검색 */-->
    <div style="display: inline-block; width: 50%;">
        <form role="form" action="/notice/list" th:object="${noticeFindForm}" method="get">
            <div>
                <select title="검색 유형 선택" th:field="*{searchType}">
                    <option value="title">제목</option>
                </select>
                <input type="text" title="키워드 입력" th:field="*{keyword}"/>
                <input type="hidden" th:value="1" name="page">
<!--                <input type="hidden" th:value="${loginUserId}" id="loginUserId" name="loginUserId">-->
                <input type="hidden" th:value="${descAsc}" id="descAsc" name="descAsc">
                <input type="hidden" th:value="${sortBy}" id="sortBy" name="sortBy">
                <button type="submit" class="btn-secondary">검색</button>
            </div>
        </form>
    </div>
    <div style="display: inline-block; float: right">
        <select title="정렬 선택" th:value="${descAsc}" id="descAscSelect" name="descAscSelect" th:onchange="sortChange()">
            <option value="desc" th:selected="${descAsc.equals('desc')}">내림차순</option>
            <option value="asc" th:selected="${descAsc.equals('asc')}">오름차순</option>
        </select>
    </div>
    <div style="display: inline-block; float: right">
        <select title="정렬 기준 선택" th:value="${sortBy}" id="sortBySelect" name="sortBySelect" th:onchange="sortChange()">
            <option value="createdAt" th:selected="${sortBy.equals('createdAt')}">생성시각순</option>
            <option value="title" th:selected="${sortBy.equals('title')}">제목순</option>
        </select>
    </div>
    <br/><br>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <th>제목</th>
                <th>내용</th>
                <th>비고</th>
                <th>생성시각</th>
                <th>생성자 아이디</th>
                <th>수정시각</th>
                <th>수정자 아이디</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="notice : ${noticeList}">
                <td>
                    <input type="checkbox" th:name="checkedId" th:value="${notice.id}">
                </td>
                <td>
                    <a href="#" th:href="@{/notice/{id}/edit (id=${notice.id})}" role="button"
                        th:text="${notice.title}"></a>
                </td>
                <td th:text="${notice.content}"></td>
                <td th:text="${notice.note}"></td>
                <td th:text="${#strings.substring(notice.createdAt,0,19)}"></td>
                <td th:text="${notice.createdWriterId}"></td>
                <td th:text="${#strings.substring(notice.modifiedAt,0,19)}"></td>
                <td th:text="${notice.modifiedWriterId}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <button type="button" onclick="deleteNotice()" class="btn-secondary">삭제</button>
    </div>
    <br><br>
<!--    paging button-->
    <nav aria-label="Page navigation" class="align-content-center">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" th:href="@{/notice/list (page = 1, keyword= ${noticeFindForm.getKeyword()}, searchType= ${noticeFindForm.getSearchType()}, sortBy=${sortBy}, descAsc=${descAsc})}" aria-label="Previous">
                    <span aria-hidden="true">처음</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" th:href="@{/notice/list (page = ${pagination.prevBlock}, keyword= ${noticeFindForm.getKeyword()}, searchType= ${noticeFindForm.getSearchType()}, sortBy=${sortBy}, descAsc=${descAsc})}" aria-label="Previous">
                    <span aria-hidden="true">이전</span>
                </a>
            </li>
            <th:block  th:with="start = ${pagination.startPage}, end = ${pagination.endPage}">
                <li class="page-item"
                    th:with="start = ${pagination.startPage}, end = ${pagination.endPage}"
                    th:each="pageButton : ${#numbers.sequence(start, end)}">
                    <a class="page-link" th:href="@{/notice/list (page = ${pageButton}, keyword= ${noticeFindForm.getKeyword()}, searchType= ${noticeFindForm.getSearchType()}, sortBy=${sortBy}, descAsc=${descAsc})}" th:text="${pageButton}"></a>
                </li>
            </th:block>
            <li class="page-item">
                <a class="page-link" th:href="@{/notice/list (page = ${pagination.nextBlock}, keyword= ${noticeFindForm.getKeyword()}, searchType= ${noticeFindForm.getSearchType()}, sortBy=${sortBy}, descAsc=${descAsc})}" aria-label="Next">
                    <span aria-hidden="true">다음</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" th:href="@{/notice/list (page = ${pagination.totalPageCnt}, keyword= ${noticeFindForm.getKeyword()}, searchType= ${noticeFindForm.getSearchType()}, sortBy=${sortBy}, descAsc=${descAsc})}" aria-label="Previous">
                    <span aria-hidden="true">끝</span>
                </a>
            </li>
        </ul>
    </nav>

    <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->

</body>
</html>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script th:inline="javascript">
    function deleteNotice() {
        var selectedElement = $("[name=checkedId]:checked");
        var ids = "";
        Array.from(selectedElement).forEach((el, index) => {
            if(index+1 == selectedElement.length) {
                ids += el.value
            } else {
                ids += el.value + ",";
            }
        });

        // var loginUserIdInputTag = document.getElementById("loginUserId");
        var searchType = document.getElementById("searchType");
        var keyword = document.getElementById("keyword");
        var sortBy = document.getElementById("sortBy");
        var descAsc = document.getElementById("descAsc");
        var page = 1;

        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/notice/"+ids+"/delete/"+page);

        // form.appendChild(loginUserIdInputTag);
        form.appendChild(searchType);
        form.appendChild(keyword);
        form.appendChild(sortBy);
        form.appendChild(descAsc);
        document.body.appendChild(form);

        form.submit();
    }

    function sortChange(){
        var sortByElement = document.getElementById("sortBySelect");
        var sortByVal = sortByElement.options[sortByElement.selectedIndex].value;
        var descAscElement = document.getElementById("descAscSelect");
        var descAscVal = descAscElement.options[descAscElement.selectedIndex].value;

        $("#sortBy").val(sortByVal);
        $("#descAsc").val(descAscVal);

        // var loginUserIdInputTag = document.getElementById("loginUserId");
        var searchType = document.getElementById("searchType");
        var keyword = document.getElementById("keyword");
        var sortBy = document.getElementById("sortBy");
        var descAsc = document.getElementById("descAsc");
        var page = 1;

        var form = document.createElement("form");
        form.setAttribute("method", "get");
        form.setAttribute("action", "/notice/list");

        // form.appendChild(loginUserIdInputTag);
        form.appendChild(searchType);
        form.appendChild(keyword);
        form.appendChild(sortBy);
        form.appendChild(descAsc);
        document.body.appendChild(form);

        form.submit();
    }
</script>
